<h1>Lab One: Understanding Table Data</h1>
<b>By Michael Watts </b>

<h2>Part 1: Buisness Understanding </h2>

This is a data set of payment information provided by New York companies in the public sector. According to the Kaggle page, these companies are legally required to provide this data in accordance with Section 2800 of Public Authorities Law. It includes various types of payment such as salary, overtime, performance, extra forms of compensation, etc. The payment information is divided between five industrial categories, operational, administrative and clerical, technical and engineering, professional, managerial, and executive. It also has more defining items for the individual employees such as if they are full or part time or paid by the state government for their work, not a company.  

The goal of my data analytics is to determine how much and in what ways an employee should be compensated based on his or her category and full time status in the public sector of New York. This information would be helpful for both companies and employees in the public and private sector. For companies in the public sector, this data would inform them what they have to pay various working categories to stay competitive, that is offer comparable pay to the rest of that industry. Likewise, for employees, this data would inform them based on their group and full time status if they are being paid at competitive level at their current job. This is especially helpful because discussing salary among or between employees is considered taboo in the workforce. This can leave employees comparative sense of how much they are being paid relative to the industry. It would also inform private sector companies how much they must be willing to pay various groups to convince them to transition over from public to private sector work, or how much they must pay their own employees to stop the inverse transition from happening. Similarly, this informs private sector employees of an average comparable salary if they transitioned into the public sector. 

To measure the success of my algorithm, we would need further data. According to a Retensa, a company focused on improving the retention rates at companies, 64% of public sector industry leaders across the country have issues with retention. Assuming this as the average, companies in New York could adjust their pay according to my analysis. After this we could survey companies and see if the amount of companies fearing employee turnover is less than the average provided by Reensa. If it is, we could assume my payment rates are competitive enough to encourage the majority of employees to stay.  
<hr>
Kaggle Dataset Link: https://www.kaggle.com/new-york-state/nys-salary-information-for-the-public-sector

Retensa Employment Link: https://retensa.com/clients/clients-by-industry/retain-government-employees/

<h1>Part 2: Data Understanding </h1>

In [188]:
# load the employee dataset
import pandas as pd
import numpy as np
import warnings

#read in and describe the data set
dataFrame = pd.read_csv('salary-information-for-industrial-development-agencies.csv') 
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2156 entries, 0 to 2155
Data columns (total 20 columns):
Authority Name                       2156 non-null object
Fiscal Year End Date                 2156 non-null object
Has Employees                        110 non-null object
Last Name                            2046 non-null object
Middle Initial                       803 non-null object
First Name                           2046 non-null object
Title                                2046 non-null object
Group                                2046 non-null object
Department                           342 non-null object
Pay Type                             2046 non-null object
Exempt Indicator                     2046 non-null object
Base Annualized Salary               2046 non-null float64
Actual Salary Paid                   2046 non-null float64
Overtime Paid                        2046 non-null float64
Performance Bonus                    2046 non-null float64
Extra Pay                            2046 non-null float64
Other Compensation                   2046 non-null float64
Total Compensation                   2046 non-null float64
Paid By Another Entity               2046 non-null object
Paid by State or Local Government    430 non-null object
dtypes: float64(7), object(13)
memory usage: 337.0+ KB

So we can see, most data is shoved into a simple non null object and there appears to be a huge amount of missing data, sometimes as many as 2046 entries missing. Let’s see if we cannot make this data a little cleaner and more usable. First, we can remove any row that has a “Y” value for “Paid by Another Entity” or “Paid by State or Local Government.” This data is valid and important, but since we are concerned with how public sector businesses compensate their employees, we do not care about employees that are not compensated by their business. We can also remove any row of data that has a “N” in the “Has Employees” column. If there is no "N" we assume the data has been provided for that row. These business do not have to report their information to the state of New York and therefore have no data tied to them. The lack of any other data tied to company makes imputing unknown data difficult and likely ineffective due to the large amount of data needed to be imputed. They also according to the kaggle page, represent only 5% of the data of this set, and thus can be safely ignored.

In [189]:
#give the data we are parsing out simplier names for the sake of removing 
dataFrame = dataFrame.rename(columns = {'Paid By Another Entity': 'paidByAnother', 'Paid by State or Local Government': 'paidByAnother2', 'Has Employees': 'hasValidData'})
dataFrame = dataFrame[dataFrame.paidByAnother != 'Y']
dataFrame = dataFrame[dataFrame.paidByAnother2 != 'Y']
dataFrame = dataFrame[dataFrame.hasValidData != 'N']
#now lets take a look at our data
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1333 entries, 25 to 2155
Data columns (total 20 columns):
Authority Name            1333 non-null object
Fiscal Year End Date      1333 non-null object
hasValidData              0 non-null object
Last Name                 1333 non-null object
Middle Initial            597 non-null object
First Name                1333 non-null object
Title                     1333 non-null object
Group                     1333 non-null object
Department                202 non-null object
Pay Type                  1333 non-null object
Exempt Indicator          1333 non-null object
Base Annualized Salary    1333 non-null float64
Actual Salary Paid        1333 non-null float64
Overtime Paid             1333 non-null float64
Performance Bonus         1333 non-null float64
Extra Pay                 1333 non-null float64
Other Compensation        1333 non-null float64
Total Compensation        1333 non-null float64
paidByAnother             1333 non-null object
paidByAnother2            0 non-null object
dtypes: float64(7), object(13)
memory usage: 218.7+ KB

Next we will remove some data columns, which while important to the survey as a whole, are not important for our purposes of accurately estimating employee group compensation values. “hasValidData”, “paidByAnother”, and “paidByAnother2” have all already served their purpose of removing invalid data and can be removed. We can also remove any data involving names such as “Last Name”, “Middle Initial”, “First Name”, "Title", and “Authority Name”. Since we are not focusing on specific people or companies but rather groups, this information is unnecessary. We can also remove “Department.” While this value would be helpful in grouping employees by career, we already have the much better column “Group” for that. Group is better because it is standardized for the data set, not just a string value assigned by the employer. “Group” is also far more present, having no missing entries, relative to the “Department” column’s 1131 missing entries. The "Exempt Indicator" can also be removed. This column has to do with labor laws and is not relevant to our question.

In [190]:
#rename columns to make them easier to work with
dataFrame = dataFrame.rename(columns = {'Authority Name': 'aName', 'Last Name': 'lName', 
                                        'Middle Initial': 'mi', 
                                        'First Name':'fName', 'Exempt Indicator': 'ei'})
#delete columns as prior stated
dataFrame.drop(columns=['hasValidData', 'paidByAnother', 'paidByAnother2', 'aName', 'lName', 'mi', 
                        'fName', 'Title', 'ei', 'Department'], inplace=True)
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1333 entries, 25 to 2155
Data columns (total 10 columns):
Fiscal Year End Date      1333 non-null object
Group                     1333 non-null object
Pay Type                  1333 non-null object
Base Annualized Salary    1333 non-null float64
Actual Salary Paid        1333 non-null float64
Overtime Paid             1333 non-null float64
Performance Bonus         1333 non-null float64
Extra Pay                 1333 non-null float64
Other Compensation        1333 non-null float64
Total Compensation        1333 non-null float64
dtypes: float64(7), object(3)
memory usage: 114.6+ KB

Now that we have stripped away excess data, let’s encode the data we have into something more useful than just objects and floats. First, we can convert the date. The year range for this survey according to kaggle is 2011 to 2016. So we can encode the years starting with 2011 = 0, 2012 = 1, …, 2016 = 5.

In [191]:
#rename column to make easier to work with
dataFrame = dataFrame.rename(columns = {'Fiscal Year End Date':'Year'})
#convert datatype from strings to date objects
dataFrame['Year'] = dataFrame['Year'].astype(np.datetime64)
# grabs the year from the date object and sets it to our scale
def setYearData(x):
    
    x = x.year
    if (x == 2011):
        return 0
    if (x == 2012):
        return 1
    if (x == 2013):
        return 2
    if (x == 2014):
        return 3
    if (x == 2015):
        return 4
    if (x == 2016):
        return 5
#sets the date to be simply the year
dataFrame['Year'] = dataFrame['Year'].apply(setYearData)
#now lets look at our data set
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1333 entries, 25 to 2155
Data columns (total 10 columns):
Year                      1333 non-null int64
Group                     1333 non-null object
Pay Type                  1333 non-null object
Base Annualized Salary    1333 non-null float64
Actual Salary Paid        1333 non-null float64
Overtime Paid             1333 non-null float64
Performance Bonus         1333 non-null float64
Extra Pay                 1333 non-null float64
Other Compensation        1333 non-null float64
Total Compensation        1333 non-null float64
dtypes: float64(7), int64(1), object(2)
memory usage: 114.6+ KB

Now our dates are divided on year scale! Next, let's encode our groups.

In [192]:
#create encoding
tempPDF = pd.get_dummies(dataFrame['Group'],prefix='Group')
#show encoding
tempPDF.head()

,Group_Administrative/Clerical,Group_Executive,Group_Managerial,Group_Operational,Group_Professional,Group_Technical/Engineering
25,0,0,1,0,0,0
26,0,0,1,0,0,0
27,0,0,0,0,1,0
28,0,0,1,0,0,0
29,0,0,1,0,0,0

In [193]:
#now add the encoded category into the dataframe and drop the old group
dataFrame = pd.concat([dataFrame,pd.get_dummies(dataFrame['Group'], prefix='Group')],axis=1)
dataFrame.drop(columns = ['Group'], inplace = True)
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1333 entries, 25 to 2155
Data columns (total 15 columns):
Year                             1333 non-null int64
Pay Type                         1333 non-null object
Base Annualized Salary           1333 non-null float64
Actual Salary Paid               1333 non-null float64
Overtime Paid                    1333 non-null float64
Performance Bonus                1333 non-null float64
Extra Pay                        1333 non-null float64
Other Compensation               1333 non-null float64
Total Compensation               1333 non-null float64
Group_Administrative/Clerical    1333 non-null uint8
Group_Executive                  1333 non-null uint8
Group_Managerial                 1333 non-null uint8
Group_Operational                1333 non-null uint8
Group_Professional               1333 non-null uint8
Group_Technical/Engineering      1333 non-null uint8
dtypes: float64(7), int64(1), object(1), uint8(6)
memory usage: 112.0+ KB

Next we change the "Pay Type" column from an object to an encoded binary. Since employees can only be either Full Time (represented as "FT" in the data) or Part Time (represented as "PT" in the data), we can encode FT to be 0 and PT to be 1.
<table>
    Pay Type Encoding:
    <tbody>
        <tr><td>Full Time:</td> <td>0</td><tr>
        <tr><td>Part Time:</td> <td>1</td><tr>
    </tbody>
</table>

In [194]:
#rename column to make easier to work with
dataFrame = dataFrame.rename(columns = {'Pay Type':'payType'})
#define a function to convert the values 
def convertPayType(x):
    
    if x == 'FT':
        return 0
    if x == 'PT':
        return 1

#convert the pay types to our binary
dataFrame['payType'] = dataFrame['payType'].apply(convertPayType)
#now lets look at our data set
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1333 entries, 25 to 2155
Data columns (total 15 columns):
Year                             1333 non-null int64
payType                          1333 non-null int64
Base Annualized Salary           1333 non-null float64
Actual Salary Paid               1333 non-null float64
Overtime Paid                    1333 non-null float64
Performance Bonus                1333 non-null float64
Extra Pay                        1333 non-null float64
Other Compensation               1333 non-null float64
Total Compensation               1333 non-null float64
Group_Administrative/Clerical    1333 non-null uint8
Group_Executive                  1333 non-null uint8
Group_Managerial                 1333 non-null uint8
Group_Operational                1333 non-null uint8
Group_Professional               1333 non-null uint8
Group_Technical/Engineering      1333 non-null uint8
dtypes: float64(7), int64(2), uint8(6)
memory usage: 112.0 KB

All of the remaining data is salary information, which can for our purposes be left as a floating point number. This will enable us to use it to find averages and deviations across groups, years, etc.

We are not missing any data. However, if we were, we could impute it. For example, if we were missing “Actual Salary Paid” for a row, we could group the data by the “Group” data we have encoded and “Year” data, and estimate the salary using either the median or average per group per year.